<%= simple_form_for(@group) do |f| %>
  <%= render 'shared/error_explanation', f: f %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-6">
        <%= f.input :name %>
        <%= f.input :latitude, as: :hidden %>
        <%= f.input :longitude, as: :hidden %>
      </div>
    </div>

    <div style='width: 100%'>
      <div id="map" style='width: 100%; height: 400px;'></div>
    </div>
  </div>

  <div class="panel-footer">
    <div class="pull-right"><%= yield :form_actions %></div>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>

<script type="text/javascript" charset="utf-8">
  var mapConfigs = {
    groupId: '<%= @group.try(:id) %>',
    draggable: true,
    latitude: '<%= @group.try(:latitude) %>',
    longitude: '<%= @group.try(:longitude) %>',
  };
</script>
