<% if @groups.empty? %>
  <%= render 'shared/empty_index' %>
<% else %>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th><%= Group.human_attribute_name 'name' %></th>
        <th><%= Group.human_attribute_name 'owner_id' %></th>
      </tr>
    </thead>

    <tbody>
      <% @groups.each do |group| %>
        <tr>
          <td><%= link_to group.name, group %></td>
          <td><%= group.owner %></td>
          <td><%#= link_to_edit edit_group_path(group) if can? :update, group %></td>
          <td><%#= link_to_destroy group if can? :destroy, group %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <%= paginate @groups %>
<% end %>

<div class="panel-footer">
  <%= link_to(
    t('view.groups.new', default: :'label.new'),
    new_group_path, class: 'btn btn-primary'
  ) if can? :create, Group %>
</div>
