<h2><%= @group %></h2>

<p>
  <strong><%= Group.human_attribute_name 'owner_id' %></strong>:
  <%= @group.owner %>
</p>
<p>
  <strong><%= Group.human_attribute_name 'user_ids' %></strong>:
  <% @group.users.each do |user| %>
    - <%= user %>
  <% end %>
</p>

<div class="panel-footer">
  <%= link_to t('label.edit'), edit_group_path(@group) if can? :update, @group %> |
  <%= link_to t('label.list'), groups_path %>
</div>
